{% extends 'index.html' %}
{% load static %}
{% block content %}
<section class="mb-5">
    <div class="row">
        <img style="width: 100%;" class="img-fluid" src="{% static 'image/course.jpg' %}" alt="">
    </div>
</section>
<section>
  <div class="container bg-light mt-5" style="height:20rem;color: rgb(5, 5, 116);">
    <center><h1><b>OUR 100% JOB ORIENTED</b> </h1></center>
    <center><h3><b>Training Programs</b></h3></center>
    <center><h4><em>We are focused on providing advanced level software training like Big Data Training, Hadoop Training, Data Science Training, Python Training, Machine Learning Training, Selenium Training in Cochin Kerala.</em>
 
    </h4></center>
  </div>
</section>
<section>
    <div class="row b-2">
        <div class="col-md-4">
            <div class="card" style="height: 120vh;border-radius: 2rem;">
<center>
    <img  class="rounded-circle" width="150vw" height="185vh"  src="{% static 'icon/icons8-ecommerce-64.png' %}" alt="">

</center>                <div class="card-body container">
                    <h3><b>Software Testing Specialist</b> </h3>
                    <h5 style="font-family: 'Courier New', Courier, monospace;">Manual Testing , Java foundations, Mobile Testing, Automation Testing, 
                        Selenium IDE, Selenium Web driver, Selenium Advanced Web driver, 
                        Selenium Grid, TestNG, SQL workshop, Performance Testing, JMeter - Advanced, 
                        POSTMAN, API Testing, JIRA, Course Project
<br>
                        Next Batch: <br>
                        Cochin : Apr 10th 2023 (Offline & Online)<br>
                        Calicut : April 17th 2023 (03:30 pm - 05:30 pm)<br>
                        Duration:<br>
                        4 Months, 5 Days a Week, 1.5 - 2 Hours/day<br>
                        Course Fee:<br>
                        Offline : 31500<br>
                        Online : 29500</h5><br>
                        <a class="btn btn-success" href="">Apply</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="height: 120vh;border-radius: 2rem; ">
                <center>
                    <img class="rounded-circle" width="150vw" height="185vh" src="{% static 'image/mer.jpg.png' %}" alt="">
                
                </center> 
                                <div class="card-body container">
                    <h3><b>MEA(R)N Stack Web Development <br> Expert - Angular & React</b> </h3>
                    <h5 style="font-family: 'Courier New', Courier, monospace;">HTML, CSS, Bootstrap, Javascript, Typescript, Git, Angular, React.js, Node.js, Express.js & MongoDB
<br>
                        Next Batch: <br>
                        Cochin : Apr 10th 2023 (Offline & Online)<br>
                        Calicut : April 17th 2023 (01:30 pm - 03:30 pm)<br>
                        Duration:<br>
                        5 Months, 5 Days a Week, 1.5-2 Hours/day<br>
                        Course Fee:<br>
                        Offline : 41500<br>
                        Online : 39500</h5><br>
                        <a class="btn btn-success" href="">Apply</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="height: 120vh;border-radius: 2rem; ">
<center>
    <img class="rounded-circle" width="150vw" height="185vh" src="{% static 'icon/machine-learning.png' %}" alt="">

</center>                <div class="card-body container">
                    <h3><b> - ML - AI - Big Data with Cloud & TABLEAU</b> </h3>
                    <h5 style="font-family: 'Courier New', Courier, monospace;">Python, Hadoop, Spark, Data Analytics, Linear Algebra, Statistics, Probability Concepts, Machine Learning, Deep Learning, Data Science, Artificial Intelligence, TABLEAU, AWS Cloud.
<br>
                        Next Batch:<br>
                        Cochin : May 10th 2023 (Offline & Online)<br>
                        Calicut : Not Available<br>
                        Duration:<br>
                        7 Months, 6 Days a Week, 1.5-2 Hours/day<br>
                        Course Fee:<br>
                        Offline : 61000<br>
                        Online : 56000</h5><br>
                        <a class="btn btn-success" href="">Apply</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row mb-5 mt-5">
        <div class="col-md-4">
            <div class="card" style="height: 120vh;border-radius: 2rem; ">
               <center> <img class="rounded-circle" width="150vw" height="185vh" src="{% static 'icon/python.png' %}" alt=""></center>
                <div class="card-body container">
                    <h3><b>Python Django - Angular- Full Stack Web Development Expert</b> </h3>
                    <h5 style="font-family: 'Courier New', Courier, monospace;">Core Python, Basics of Programming, Unix Commands, Advanced Python, Django Framework, REST API, Git, Angular, Web Concepts & Tools.
<br>
                        Next Batch:<br>
                        Cochin : April 10th 2023 (Offline & Online)<br>
                        Calicut : Mar 22nd 2023 (Offline Only)<br>
                        Duration:<br>
                        6 Months, 5 Days a Week, 1.5-2 Hours/day<br>
                        Course Fee:<br>
                        Offline : 35000<br>
                        Online : 29500<br>
                        
                        </h5><br>
                        <a class="btn btn-success" href="">Apply</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="height: 120vh;border-radius: 2rem; ">
                <center>
                    <img class="rounded-circle" width="150vw" height="185vh" src="{% static 'image/asp.jpg' %}" alt="">
                
                </center>                 <div class="card-body container">
                    <h3><b>Asp.net MVC with Angular - Full Stack</b> </h3>
                    <h5 style="font-family: 'Courier New', Courier, monospace;">C# Programming, Object Oriented Development, ASP .Net Web and Windows Application Development, MS SQL, MVC Architecture, Entity Framework, Dot Net Core, WEB API, Angular, GUI Development.
<br>
                        Next Batch:<br>
                        Cochin : Apr 10th 2023 (10:30 AM- 12:30 PM)<br>
                        Calicut : Apr 10th 2023<br>
                        Duration:<br>
                        4 Months, 5 Days a Week, 2 Hours/day<br>
                        Course Fee:<br>
                        Offline : 29500<br>
                        Online : 25000</h5><br>
                        <a class="btn btn-success" href="">Apply</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="height: 120vh;border-radius: 2rem; ">
<center>
                    <img width="150vw" height="185vh"  class="rounded-circle" src="https://yt3.googleusercontent.com/ytc/AL5GRJVFUbrqLgTKs3qvoiGiZDvJHXkB_pzHwyussmGX=s900-c-k-c0x00ffffff-no-rj" alt="">

</center>                <div class="card-body container">
                    <h3><b>Android Developer Expert Training In Kochi- Flutter</b> </h3>
                    <h5 style="font-family: 'Courier New', Courier, monospace;">DART and ANDROID Media & Menu, Google Map, Fragment & Material Designs, Notifications, Telephony & Connectivity, Internal Storage & External Storage, Async Task, Parsing & Shared Preferences, Admob, SQLite Database,,
<br>
                        Next Batch:<br>
                        Cochin : Mar 20th 2023 (Offline & Online)<br>
                        Calicut : April 10th 2023 (Offline)<br>
                        Duration:<br>
                        4 months.( 1.5-2 Hours/day)<br>
                        Course Fee:<br>
                        Offline : 29500<br>
                        Online : 25000</h5><br>
                        <a class="btn btn-success" href="">Apply</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section style="background-color: rgb(3, 3, 46);color: aliceblue;">
    <center>
        <h1 ><b>Why ALTOS </b></h1>
    </center>
    <center>
        <img width="1000vw" src="https://media.istockphoto.com/id/1321462048/photo/digital-transformation-concept-system-engineering-binary-code-programming.jpg?s=612x612&w=0&k=20&c=Ib8RLw3_eCOo9N3YE4pvp9rcb_WmirjS-9x9R-vTd68=" alt="">
    </center>
    <center>
        <div class="container">
          <h3><b>  At Luminar Technolab we offer a comprehensive course that covers the whole aspects 
            of the Data Science Ecosystem including Big Data Engineering, Data Science, Data Analytics, Data Visualization - Tableau, data processing
            , Data Munging, Machine Learning, Deep Learning & Artificial Intelligence.</b></h3>
        </div>
    </center>
            <ul class="p-3 " style="margin-left: 40rem;">
                <li><h4>ISO 9001:2015 Certified Institution</h4></li>
                <li><h4>Affiliated to NACTET (http://www.nactetindia.org/affiliation.php)</h4></li>
                <li><h4>Training by highly experienced and certified professionals</h4></li>
                <li><h4>No slideshow (PPT) training, fully Hands-on training</h4></li>
                <li><h4>Interactive session with interview QA’s</h4></li>
                <li><h4>Real-time projects scenarios & Certification Help</h4></li>
                <li><h4>Most competitive & affordable course fees</h4></li>
                <li><h4>Placement support for all courses</h4></li>
                <li><h4>List of established & satisfied clients & students</h4></li>
                <li><h4>Located Near Infopark Cochin.</h4></li>
            </ul>
</section>
<section>
    <img width="100%" src="https://chennai.vit.ac.in/wp-content/uploads/2021/08/Types-and-Future-of-Software-Developer-VIT-Chennai.jpg" alt="">
</section>
<footer>
    <div class="col-md-12">
        <table class="container-fluid table  bg-light text-dark">
            <thead>
                <tr>
                    <th>Quik links</th>
                    <th>Social media</th>
                    <th>Course</th>
                    <th>Contact Us</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Teachers and staff</td>
                    <td>FACEBOOK</td>
                    <td>Python Django</td>
                    <td>COCHIN</td>
                </tr>
                <tr>
                    <td>Our Courses</td>
                    <td>INSTAGRAM</td>
                    <td>ML</td>
                    <td>Altos Technologies carnival <br> infopark phase 1 first floor <br> kakkanad kochi <br>9876543210 </td>
                </tr>
                <tr>
                    <td>Gallery</td>
                    <td>TWITER</td>
                    <td>JAVA</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Refund and cancellation policy</td>
                    <td></td>
                    <td>ASP.NET</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <footer>
        <p class="text-dark">owned:Altos <br>
        <a href="mailto:hege@example.com">altostechnologies@gmail.com</a></p>
      </footer>
      
    </footer>
{% endblock %}